<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name ="android.permission.CAMERA"/> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 카카오 Map API 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".view.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/helpet_logo3"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/helpet_logo3"
        android:supportsRtl="true"
        android:theme="@style/MyApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="s">
        <activity
            android:name=".calendar.ShowCalContent"
            android:exported="false" />
        <activity
            android:name=".vector.ResultBottomSheet"
            android:exported="false" />
        <activity
            android:name=".calendar.CalendarDialog"
            android:exported="false" />
        <activity
            android:name=".view.Books.VectDetails"
            android:exported="false" />
        <activity
            android:name=".view.Books.VectList"
            android:exported="false" />
        <activity
            android:name=".vector.MPVectorResult"
            android:exported="false" />
        <activity
            android:name=".TitleActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vector.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".vector.ChoiceMyPetF"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".login.Register"
            android:exported="false" />
        <activity
            android:name=".vector.VectorChoicePet"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".vector.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".vector.PetRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".vector.VectorCamera"
            android:exported="false" />
        <activity
            android:name=".vector.VectorProceed"
            android:exported="false" />
        <activity
            android:name=".vector.VectorResult"
            android:exported="true" />
        <activity
            android:name=".calendar.Planlist"
            android:exported="false" />
        <activity
            android:name=".calendar.PlanMemo"
            android:exported="true" />
        <activity
            android:name=".login.Find_idpw"
            android:exported="true" />
        <activity
            android:name=".vector.ChoicePetSpecies"
            android:exported="false" />
        <activity
            android:name=".Hospital.HospitalActivity"
            android:exported="false" />
        <activity
            android:name=".vector.PetInfActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.helpet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="a3t08yn3do" />
    </application>

</manifest>